:root {
    --color-1: #445161;
    --color-2: #445162;
    --color-3w: #f1f1f1;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #999;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
h2{
    margin: 0;
    margin-bottom: 38px;
}
.title {
    color: var(--color-1);
    font-size: 30px;
    line-height: 36px;
}
@media (max-width:900px){
    .title {
            font-size: 24px;
        }
}
@media (max-width:600px){
    .title {
            font-size: 22px;
        }
}
.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

/*----1st content-----*/
.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.hi {
    background-color: var(--color-2);
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hi__row {
    display: flex;
    justify-content: space-between;
}
.hi__body {
    font-size: 37px;
    color: #fff;
    padding-right: 30px;
}
.hi__img{
    max-width: 50%;
    max-height: 50%;
}
.hi__img img{
    width: 100%;
    height: 100%;
    
}

.hi__title {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.hi__list li{
    background: url(img/icons/icon.png) 0 1px no-repeat;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    padding-left: 36px;
    margin-bottom: 17px;
    line-height: 22px;
}
.hi__list li:last-child{
    margin-bottom: 0;
}


@media (max-width:940px) {
    .hi{
        padding-top: 15px;
    }
    .hi__row {
        display: inline-block;
        position: relative;
        width: 99vw;
    }
    .hi__body {
        font-size: 27px;
        color: #fff;
        padding-right: 20px;
    }
    .hi__title{
        margin: 12px 0 20px 0;
    }
    .hi__list li {
        font-size: 17px;
        padding-left: 36px;
        margin-bottom: 13px;
        line-height: 17px;
        background-size: 19px;
    }
    .hi__img {
        position: absolute;
        top: 4vh;
        right: -5vw;
    }
    .hi__img img {
        width: 80%;
        height: 80%;
    }
}
@media (max-width:700px) {
    .hi{
        padding-top: 15px;
        background: url(img/image.jpg) 0 1px no-repeat;
        background-size: cover;
        opacity: 0.94;
        background-position:  0 -5px;
    }
    .hi__row {
        width: 100%;
        height: 100%;
    }
    .hi__body {
        font-size: 23px;
        color: #fff;
        padding-right: 26px;
    }
    .hi__title{
        margin: 19px 0;
    }
    .hi__list li {
        font-size: 18px;
        padding-left: 26px;
        margin-bottom: 13px;
        line-height: 14px;
        background-size: 15px;
        text-shadow: #111 1px 1px;
    }
    .hi__img img {
        display: none;
    }
}

/*--------what----------*/
.what {
    padding: 50px 0;
}
.what__row {
    display: flex;
}
.what__img {
    flex: 0 0 430px; /* don't expand , don't shrink , fixed width 430px*/
    margin-top: 3%;
}
.what__img img{
    max-width: 100%;
}
.what__body {
    flex: 1 1 auto; /*can grow ,can shrink */
    padding-left: 38px;
}
.what__title {
    margin-bottom: 33px ;
}
.what__text p{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
}
@media (max-width:940px) {
    .what {
        padding: 50px 0 30px 0;
    }
    .what__row {
        flex-direction: column;
    }
    .what__img {
        flex: 1 1 auto;
        margin: 5% 0 3% 0;
        text-align: center;
        order: 2;
    }
    .what__body {
        flex: 1 1 auto;
        padding-left: 0px;
        order: 1;
    }
    .what__title {
        margin: -20px 0 15px 0;
    }
}

/*----- 2nd content -----*/
.columns {
    background-color: var(--color-3w);
    padding: 50px 0 20px 0;
}
.columns__title {
    text-align: center;
    margin-bottom: 30px;
}
.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px; /* spacing the columns 8px, because inter-columns distance is 16px*/
}
.columns__column {
    flex: 0 1 50%;
    margin-bottom: 30px;
    padding: 0 8px; /* spacing the columns */
}
.item__row {
    display: flex;
}
.item__img {
    flex: 0 0 200px;
}
.item__body {
    flex: 1 1 auto;
    padding-left: 15px;
}
.item__title {
    color: var(--color-1);
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 13px;
}
.item__text {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}
@media (max-width:1070px){
    .columns {
        background-color: var(--color-3w);
        padding: 30px 0 20px 0;
    }
    .columns__row {
        flex-direction: column;
    }
    .columns__title {
        text-align: left;
    }
    .item__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
}
@media (max-width:550px){
    .item__row {
        display: flex;
        flex-direction: column;
    }
    .item__img {
        flex: 1 1 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .item__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
        text-align: center;
    }
    .item__text{
        text-align: center;
        margin-bottom: 30px;
    }

}

/* ------  content with buttons -----*/
.vertical {
    padding: 50px 0;
}
.vertical__title {
    text-align: center;
    margin-bottom: 30px;
}
.vertical__body {
    max-width: 990px;
    margin: 0 auto;
}
.vertical__row {
    display: flex;
    margin: 0px -22.5px; /* spacing the columns 22.5px because inter-columns distance is 45px*/
}
.vertical__column {
    flex: 0 1 33.333%;
     padding: 0 22.5px; /* spacing the columns */
     display: flex;
}
.vertical__item {
    background-color: var(--color-2);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--color-2);
    display: flex;
    flex-direction: column;
}
.vertical__label{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
}
.vertical__subtitle {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 15px 0;
    background-color: #fff;
    color: var(--color-2);
}
.vertical__text {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
    flex: 1 1 auto;
}
.vertical__btn {
    cursor: pointer;
    display: block;
    margin: 0 20px;
    background-color: var(--color-3w);
    line-height: 40px;
    text-align: center;
    color: var(--color-2);
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}
.vertical__btn:hover{
    background-color: #ccc;
    transition: 1s;
}
@media (max-width:940px){
    .vertical {
            padding: 30px 0;
        }
    .vertical__title {
        margin-bottom: 30px;
    }
    .vertical__row {
        display: flex;
        flex-direction: column;
        margin: 0px ;
    }
    .vertical__column{
        margin-bottom: 50px;
    }
    .vertical__label {
        font-size: 20px;
    }
    .vertical__subtitle {
        font-size: 25px;
    }
    .vertical__text {
        font-size: 14px;
        line-height: 24px;
    }
    .vertical__column:last-child {
        margin-bottom: 0px;
    }
}


/*------footer ------*/
.footer {
    background-color: var(--color-3w);
}
.footer__row {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: center;
}
.footer__text {
    color: var(--color-2);
    font-size: 12px;
}